@charset "UTF-8";
[element~="field-container"] {
  cursor: text;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 8px;
  position: relative;
}

[element~="field-placeholder"] {
  cursor: text;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}

[element~="field-input"] {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

[element~="field-tags"] {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 0 -4px;
  width: calc(100% + 8px);
}

[element~="field-tags"] > * {
  display: inline-block;
  margin: 0 4px;
}

[element~="field-tag"] {
  cursor: pointer;
}

[element~="field-tag"]:hover {
  text-decoration: line-through;
}

[element~="field-tags-input"] {
  min-width: 1px;
  max-width: 100%;
}

[element~="field-button"] {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[element~="field-clear"]:before {
  content: '×';
}

[element~="field-decrease"]:before {
  content: '–';
}

[element~="field-increase"]:before {
  content: '+';
}

[element~="field-arrow"]:before {
  content: '▾';
}

[element~="field-options"] {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

[state~="focus"] [element~="field-options"] {
  display: block;
}

[element~="field-option"] {
  cursor: pointer;
}

[element~="field-option"]:hover {
  background: #1e88e5;
  color: white;
}

[element~="textarea-container"] {
  cursor: text;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 8px;
  position: relative;
}

[element~="textarea-placeholder"] {
  cursor: text;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
}

[element~="textarea-input"] {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  word-break: break-word;
}

[element~="textarea-button"] {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[element~="textarea-clear"]:before {
  content: '×';
}

[element~="uploader-container"] {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[element~="uploader-container"] input {
  display: none !important;
}
/*# sourceMappingURL=default.css.map */